@media screen and (max-width:991px) {
    /*custom css*/
    section{
        padding: 30px 0;
    }

    h2{
        font-size: 30px;
        line-height: 40px;
    }

    h3{
        font-size: 20px;
    }

    /*navbar*/

    .header-crolled{
        height: auto;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }

    /*banner_wrapper*/
    .banner-wrapper{
        padding: 200px 0;
    }

    /*about*/

    .about_wrapper ul.nav-pills{
       width: 61%;
       margin: auto;
    }

     /*PORTIFOLIO*/

     .portifolio_wrapper .card{
        min-height: 400px;
    }



}


@media screen and (max-width:767px) {
   /* custom css*/

    h2{
        font-size: 40px;
        line-height: 48px;
    }

    h2{
        font-size: 25px;
    }

   P{
        font-size: 13px;
        line-height: 24px;
   }

   /*about*/

   .about_wrapper ul.nav-pills{
        width: 100%;
        margin: auto;
        border: 0;
    }

    .about_wrapper ul li .nav-link{
       font-size: 13px;
    }

     /*PORTIFOLIO*/

    .portifolio_wrapper .card{
        min-height: 500px;
    }


}
